<mat-sidenav-container class="conteiner">
    <mat-sidenav mode="side" opened>
        <mat-nav-list>
            <a routerLink="" routerLinkActive="router-link-active"  mat-list-item>
                <i class="material-icons">home</i>Home
            </a>
            <a routerLink="owners" mat-list-item>
                <i class="material-icons">accessibility</i>Owners
            </a>
            <a mat-list-item>
                <i class="material-icons">check_box</i>Tasks
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
